<a href="https://colab.research.google.com/github/herbertmey/AcademyPublic/blob/main/May%206%202022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer

##### Python as a programming language basics

# The usage of the hashtag represents a comment. everything on the same line and after
# will be not take into account

# If you execute the content of a cell, only the last element will be displayed
7+3
7-3
7*3
21/2
21//2 # floor division
21%2 # modulo
21**2 # exponential

# You will always want to associate a number / a result to a variable:
gg=2 #It means that now, Python knows that the value of gg is 2
gg==3 #Here, '==' means: Does gg is equal to 3 ? Given that you created a variable just before saying 
# that gg equals 2, Python answers that it is False because 3 is different than 2
# However if you write gg==2, Python will reply "True"
# Given that you defined the variable gg, if you gg Python will display the value 2.
# Note that you can change the value of gg by defining again the variable gg:
gg=3

# Instead of asking Python if a variable is equals to a value, you can use inequalities:
gg<=3
gg>=3
gg>3

# When you define a variable, it is case sensitive. It means that the 4 names below represent 
# 4 different names
beautiful_variable = 3
Beautiful_variable = 4
BEAUTIFUL_VARIABLE = 5
BeaUtIfUL_vaRiABLe = 6

# It exists several data types in Python the most common & used is the list
# A list is defined by elements in [] The elements can be both numeric or textual

cities = ['Paris', 'Zurich', 'Rome', 'Berlin', 'London']

# A list is 0 based in term of index which means that the first element of the list (Paris) is the element 0
print(cities[0])
# You can access the element by the end:
print(cities[-1])

# You can modify a list. Here you want to modify the third element (Rome) by Milan:
cities[2] = 'Milan'
print(cities)

# In order to insert an element in a list: list.insert(1, element)
# To insert HK between Zurich & Milan
cities.insert(2, 'HK')
print(cities)

# In order to add an element at the end of the list:
cities.append('Rio')
print(cities)

# In order to remove an element from the list:
cities.remove('Paris')
print(cities)

# In this list we only have textual elements, we can add some numerical one:
cities.insert(2, 848)
print(cities)
cities.append(848)
print(cities)
# You can see that we have 2 values of 848 in our list. The remove function only remove the 
# first time Python see the value:
cities.remove(848)
print(cities)
# We will see later how to delete all the values 848.

# If you want to access the index (= the position) of an element in the list:
print(cities.index("HK"))

# If you want to concatenate 2 lists:
new_list = [1, 3, 5, 2]
cities = cities + new_list
print(cities)

# There are other types than list, such as tuple & dictionnary.
# Keep in mind that list are defined by [], if you use (), it will be a tuple.


### Conditional statements:
# The global idea is to do an action based on a current state
val = 0 # Here the current state is that the variable val has the value 0
if val > 0:
  print('The value is positive')
elif val < 0:
  print('The value is negative')
elif val<-10:
  print('very low')
else:
  print('The value equals 0')

# It is very important to understand the chain, on the previous example, if you replace val=0 by 
# val = -12, the statement will return 'The value is negative' because it fits the condition val<0.
# You have to switch val < 0 and val <-10 like this:
val=0
if val > 0:
  print('The value is positive')
elif val < -10:
  print('The value is very low')
elif val<0:
  print('The value is negative')
else:
  print('The value equals 0')

# Be careful, the indentation is important !!!

# Logical expressions for if:
# a == b: is a equal to b
# a != b: is a different from b
# a <= b: is a lower or equal than b
# a >= b: is a greater or equal than b
# a < b: is a strictly lower than b
# a > b: is a strictly greater than b
# a is b: is a the same object as b
# condition_a and condition_b: logical AND
# condition_a or condition_b: logical OR
# not: negation

if 7 not in [0, 1, 2, 3, 4]:
  print('Indeed')

# Of course, in the real life, you will do more advanced condition that just display a print after a condition.

### Loop
# while loop: loop until the condition happened -> can run to the infinity
# Ex while loop
N=15
total = 0
counter = 1
while counter <= N:
  total += counter # total = total+counter
  counter += 1
  print(total)

# for loop (most used): loop on all the defined elements of an object.
# Ex for loop
fruits = ['apple', 'pear', 'cherry']
for i in fruits:
  print(i)

# It is as well possible to do a loop within a loop (a nested loop):
list_of_list = [['a', 'b', 'c'], [1, 2, 3]]
for sub_list in list_of_list:
  print("We treat the list: ", sub_list)
  for element in sub_list:
    print('We display the element: ', element)


### Functions
# Obj: automate an action composed by several instructions
# The keyword def introduces the definition of a function
# It is followed by the name of the function and a series of parameters in parenthesis
# It is possible to define a function without entry parameters
# The instructions constituing the body of the function starts at the next line and must have an identation
# Instruction return causes the function to be removes by returning a value. Return without expression gives None

def area(length, width):
  ''' Function calculating the area of a rectangle
  Parameters:
  length: TYPE float
    Measure of the length of a rectangle
  width: TYPE float
    Measure the width of a rectangle

  Return:
    area: TYPE float
  '''
  my_area = length * width

  return my_area

area(11,4)

# Within a function, we can put all kind of instructions, create all kind of objects
# Note that the content within the 3 apostrophies is a second way to write some comments.
# It is a good practice in order to describe a function.

# To close the chapter on Python basics, there is another way to write a for loop
# We will use it in order to delete all the element of a list having a particular value:
last_list = [0, 1, 2, 3, 4, 5, 888, 6, 7, 888, 8, 888, 9] # Let's delete all the 888

valueToBeRemoved = 888
last_list = [value for value in last_list if value != valueToBeRemoved] 
#of course, you can replace 'value' by what you want, it is the equivalent of i
print(last_list)


###
### End of Python Basics

### Start of pandas and numpy
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')
# Here I use the function read_csv from the pandas package and I assign it to a database named df.
# There is a lot of possible parameters in the read_csv function: Always check the documentation.
# https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

# Here df is a database, I will call it as well a dataframe

# You can have a look on the first lines:
df.head() #You can specify a number in the parenthesis in order to see a specific number of lines
df.tail() # It shows the last lines

# List of useful functions to have general overview on the dataframe:
df.dtypes # To see the type of each feature
df.describe() # To have some descriptive statistics
df.info() # Same as dtypes + more information such as the number of non missing values
df.shape # In order to have the number of lines and columns of the dataframe
len(df) # In order to have the number of lines

### Now let's do some data manipulation
# Select a column:
df['fixed acidity'].head(2) # If you select 1 feature: dataframe['name_feature']
# Select multiple columns
df[['fixed acidity', 'volatile acidity']].head(2) 
# If you select 2 or more features: dataframe[['feature1', 'feature2']]

# Now, let's do some filters -> select lines from a condition
mask1 = df['fixed acidity'] >7 # As we saw in the Python basics part, df['fixed acidity'] >7
# refers to a question, does the value (here, each line) is >7 ; True or False
# You can display mask1 to see how it is composed, you will see it is a list of boolean.
df[mask1].min() # Then, we integreate the list of boulean in: dataframe[list_boolean]
# The output is only composed by values >7 that we can check with the .min() function.

# You are not obliged to create a mask, you can directly write the condition within:
df[df['fixed acidity'] >7]

# You can check that indeed the output are exactly the same:
df[mask1] == df[df['fixed acidity'] >7]

# If you want to select a part of the population between 2 values:
mask2 = df['fixed acidity'].between(7,8)
# https://pandas.pydata.org/docs/reference/api/pandas.Series.between.html

df[mask2].min()
df[mask2]['fixed acidity'].min()
df[mask2][['fixed acidity', 'density']].min()

# If you want to do several conditions, the '&' means 'and' ; the '|' means 'or'

# Here I want the residual sugars <= 1.9 or >= 2.3 , and sulphates < 0.7301
mask3 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301))
df[mask3].describe()

# Keep in mind, you have to associate line of script to a variable/object however it
# is not saved in memory
len(df)
df2 = df[mask3]
len(df2)

# We didn't have the time to see this but please read it
# Here I create a function having the name citric_acid_cat with the parameter x
# In the function, x will pass within a conditional statement. Given the value,
# it will return a letter (a category):
def citric_acid_cat(x):
  if x < 0.21 :
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

# Now we want to create a new feature citric_cat, which transform the numerical value
# of citric acid to the category defined above for each line of the feature.
# We could create a for loop. However the apply lambda is more efficient from a computing point of view 
# The x refers to the x of the function which is df['citric acid']
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

# When you do a mask, it is not only on numerical features but as well on categoricals:
mask5 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'] == 'A'))
df[mask5]
# On this example, I want to focus only on the category A so it is quick to write.
# However it is not always the case and you can filter through a list:

list_cat_to_keep = ['A', 'C']
mask6 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep)))
df[mask6]
# dataframe['feature'].isin(list_specified) creates the list (the pandas Series to be precise) of boolean

# To finish, you could want all the element of a feature execpt those that you specify in a list.
# Let's say, you want to analyse all the citri_cat that are not in the list (here the cat=B)
# You can use: ~dataframe['feature'].isin(list_specified) // The '~' means not isin:
mask7 = (((df['residual sugar'] >= 2.3) | (df['residual sugar'] <= 1.9)) & (df['sulphates'] < 0.7301) & (~df['citric_cat'].isin(list_cat_to_keep)))
df[mask7] #As you see, you only have the category 'B' of citric_cat.

In [ ]:
7+3
7-3
cities = ['Paris', 'Zurich' , 'Rome', 'London'] 

type(cities)

cities

print (cities)

cities.insert(-1,'Nice')
print(cities)

print(cities.index('Zurich'))

['Paris', 'Zurich', 'Rome', 'London']
['Paris', 'Zurich', 'Rome', 'Nice', 'London']
1

In [ ]:
val = 0

if val > 0:
  print('The value is positive')

elif val <0:
  print('The values is negative')

elif val <-10:
  print('Very low')

else:
  print('The value equal 0')

The value equal 0

In [ ]:
if 7 not in [4,5,78,32,11]:
  print('Of course Idiot')

Of course Idiot

In [ ]:
Fruits = ['apple','pear','cherry']
for i in Fruits:
  test = i

In [2]:
#### Here is the script to get the data directly from kaggle through colab

!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle

# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder

# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json

# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d artemkorottchenko/large-boatyacht-pricing-dataset
!unzip large-boatyacht-pricing-dataset.zip

#### End of the script to get the data directly from kaggle through colab
# Remember that when you run it, you have to click on the button Choose Files and 
# then select the kaggle.json file from your computer

Saving kaggle.json to kaggle.json
Downloading large-boatyacht-pricing-dataset.zip to /content
  0% 0.00/6.22M [00:00<?, ?B/s]
100% 6.22M/6.22M [00:00<00:00, 71.4MB/s]
Archive:  large-boatyacht-pricing-dataset.zip
  inflating: boat_dataset.csv

In [3]:
import pandas as pd
import io
import numpy as np
pd.options.display.max_columns = 100
pd.options.display.max_rows = 50

df = pd.read_csv(io.StringIO(open('/content/boat_dataset.csv', 'rb').read().decode('utf-8', errors='ignore')), sep=",")

## Add element in the database for EDUCATIONAL PURPOSE ONLY
# Add random date in order to do a proper temporal split
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%d.%m.%Y')
#Here is a function that will automatically create a feature of random dates between a defined interval
def random_datetimes_or_dates(start, end, out_format='datetime', n=10): 

    '''   
    unix timestamp is in ns by default. 
    I divide the unix time value by 10**9 to make it seconds 
    (or 24*60*60*10**9 to make it days).
    The corresponding unit variable is passed to 
    the pd.to_datetime function. 
    Values for the (divide_by, unit) pair to select is defined by 
    the out_format parameter.
    for 1 -> out_format='datetime'
    for 2 -> out_format=anything else
    '''
    (divide_by, unit) = (10**9, 's') if out_format=='datetime' else (24*60*60*10**9, 'D')

    start_u = start.value//divide_by
    end_u = end.value//divide_by

    return pd.to_datetime(np.random.randint(start_u, end_u, n), unit=unit)


np.random.seed(893717398)
# Set parameters
d_start = pd.to_datetime('2020-01-01')
d_end = pd.to_datetime('2021-12-31')

# Delete initial Advertisement Date -> if you want to keep the inital dates, don't run it
df.drop(columns=['Advertisement Date'], inplace=True)

# Run function
df['Advertisement Date'] = random_datetimes_or_dates(d_start, d_end, out_format='datetime', n=len(df))

# Keep the date and remove the time
df['Advertisement Date']= df['Advertisement Date'].dt.date

# Parse the date
df['Advertisement Date'] = pd.to_datetime(df['Advertisement Date'], format='%Y-%m-%d')

# Impute Advertissement Date by the the created one when they are missing
#df['Advertisement Date'] = np.where(df['Advertisement Date'].isna(), df['date2'], df['Advertisement Date'])

# Delete the random date created
#df.drop(columns=['date2'], inplace=True)

# Create duplicates
temp = df.sample(n=500, random_state=893717398)
df = df.append(temp)
del(temp)
df.reset_index(drop=True, inplace=True)

df['Advertisement Date'] = df['Advertisement Date'].astype(str)

In [4]:
df.head()

,Price,Category,Boat Type,Manufacturer,Model,Boat name,Type,Year Built,Condition,Length,Width,Depth,Displacement,CE Design Category,Cert Number of People,Number of Cabins,Number of beds,Hull Color,Number of Toilets,Number of Bathrooms,Number of Showers,Material,Fresh Water Cap,Holding Tank,Propulsion,Engine,Engine Performance,Fuel Capacity,Fuel Type,Engine Hours,Max Speed,Cruising Speed,Location,Number of views last 7 days,Comments,Additional Comments,Equipment,Advertisement Date
0,"CHF 3.337,-",Power Boats,Motor Yacht,Rigiflex power boats,CAP 400,NaN,new boat from stock,2017.0,as new,4.00 m,1.90 m,NaN,NaN,NaN,7.0,NaN,NaN,white,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake Geneva » Vésenaz,226,NaN,Possibility to arrange it with a complete luxu...,NaN,2021-08-11
1,"EUR 3.490,-",Power Boats,Center console boat,Terhi power boats,400 C,NaN,new boat from stock,2020.0,new,4.00 m,1.50 m,NaN,150 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Thermoplastic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Germany » Bönningstedt,75,"In den Farben weiß oder grün lieferbar.,,2 abs...",NaN,NaN,2020-08-19
2,"CHF 3.770,-",Power Boats,Sport Boat,Marine power boats,370 S - Aluboot,NaN,new boat from stock,NaN,NaN,3.69 m,1.42 m,0.25 m,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,Aluminium,NaN,NaN,NaN,(Permission for Lake of Constance),NaN,NaN,NaN,NaN,NaN,NaN,Switzerland » Lake of Zurich » Stäfa ZH,124,NaN,The lightweight and sleek rowing boat for 4 pe...,NaN,2021-01-06
3,"DKK 25.900,-",Power Boats,Sport Boat,Pioner power boats,10 Classic Special Edition,NaN,new boat from stock,2020.0,NaN,3.00 m,1.00 m,NaN,110 kg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Denmark » Svendborg,64,"MORSOM OG LETKØRT KVALITETSBÅD!,Nye Pioner 10 ...",NaN,NaN,2020-08-01
4,"SEK 35.000,-",Power Boats,Classic,NaN,Gullholmensnipa 21,NaN,Used boat,1974.0,good,6.30 m,2.50 m,0.75 m,2'000 kg,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Inboard with Shaft,VolvoPenta MD 2002,1 x 18 HP / 13 kW,50 l,NaN,500 h,NaN,NaN,Nordsee » Västra Frölunda,131,NaN,NaN,"Anchor,Battery,Bilge Pump,Bilge pump,Cockpit C...",2021-05-05

In [10]:
df.shape
df.dtypes
df.describe(include='all')
df.info()
len(df)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10844 entries, 0 to 10843
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        10844 non-null  object
 1   Category                     10844 non-null  object
 2   Boat Type                    10844 non-null  object
 3   Manufacturer                 9393 non-null   object
 4   Model                        10841 non-null  object
 5   Boat name                    1370 non-null   object
 6   Type                         10839 non-null  object
 7   Year Built                   10252 non-null  float64
 8   Condition                    3540 non-null   object
 9   Length                       10834 non-null  object
 10  Width                        10779 non-null  object
 11  Depth                        7575 non-null   object
 12  Displacement                 5298 non-null   object
 13  CE Design Category           828 non-null    object
 14  Cert Number of People        3773 non-null   float64
 15  Number of Cabins             6807 non-null   float64
 16  Number of beds               6726 non-null   float64
 17  Hull Color                   3472 non-null   object
 18  Number of Toilets            2257 non-null   float64
 19  Number of Bathrooms          484 non-null    float64
 20  Number of Showers            2040 non-null   float64
 21  Material                     8902 non-null   object
 22  Fresh Water Cap              2222 non-null   object
 23  Holding Tank                 861 non-null    object
 24  Propulsion                   3433 non-null   object
 25  Engine                       10007 non-null  object
 26  Engine Performance           8455 non-null   object
 27  Fuel Capacity                7137 non-null   object
 28  Fuel Type                    8409 non-null   object
 29  Engine Hours                 5396 non-null   object
 30  Max Speed                    930 non-null    object
 31  Cruising Speed               567 non-null    object
 32  Location                     10800 non-null  object
 33  Number of views last 7 days  10457 non-null  object
 34  Comments                     7437 non-null   object
 35  Additional Comments          2553 non-null   object
 36  Equipment                    6481 non-null   object
 37  Advertisement Date           10844 non-null  object
dtypes: float64(7), object(31)
memory usage: 3.1+ MB

10844

In [14]:
df['Year Built'].head()

0    2017.0
1    2020.0
2       NaN
3    2020.0
4    1974.0
Name: Year Built, dtype: float64

In [12]:
df[['Year Built','Model']].head()

   Year Built                       Model
0      2017.0                     CAP 400
1      2020.0                       400 C
2         NaN             370 S - Aluboot
3      2020.0  10 Classic Special Edition
4      1974.0          Gullholmensnipa 21

In [15]:
df[['Year Built','Model','Category']].head()

   Year Built                       Model     Category
0      2017.0                     CAP 400  Power Boats
1      2020.0                       400 C  Power Boats
2         NaN             370 S - Aluboot  Power Boats
3      2020.0  10 Classic Special Edition  Power Boats
4      1974.0          Gullholmensnipa 21  Power Boats

In [18]:
mask1 = df['Year Built']>2000
mask1
df[mask1].min()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

Price                    CHF 1.060.000,-
Category                     Power Boats
Boat Type                       Bowrider
Year Built                        2001.0
Cert Number of People                1.0
Number of Cabins                    -1.0
Number of beds                     -23.0
Number of Toilets                    1.0
Number of Bathrooms                  1.0
Number of Showers                    1.0
Advertisement Date            2020-01-01
dtype: object

In [23]:
mask2 = df['Year Built'].between(2001,2005)
df[mask2].head(2)

df[mask2][['Category','Fuel Type']]

          Category Fuel Type
14     Power Boats       NaN
79     Power Boats  Unleaded
91     Power Boats  Unleaded
103    Power Boats  Unleaded
108    Power Boats  Unleaded
...            ...       ...
10808  Power Boats       NaN
10809  Power Boats    Diesel
10812  Power Boats    Diesel
10824  Power Boats    Diesel
10835  Power Boats    Diesel

[1327 rows x 2 columns]

In [29]:
mask3 = ((df['Year Built']<=2001) | (df['Year Built']>= 2011)) & (df['Number of cabine']<=2)

KeyError: ignored

In [31]:
df = df.rename(columns={'Length':'Length (m)', 'Width':'Width (m)', 'Depth':'Depth (m)',
                        'Fresh Water Cap':'Fresh Water Cap (l)', 'Holding Tank':'Holding Tank (l)', 'Fuel Capacity':'Fuel Capacity (l)'})

In [30]:
# Let's see if we have constant features
col_object_l = df.select_dtypes(include='object').columns # Stock les colonnes
for col in col_object_l:
    print(f"Column {col} has {df[col].nunique()} categories\n")

Column Price has 3283 categories

Column Category has 1 categories

Column Boat Type has 135 categories

Column Manufacturer has 932 categories

Column Model has 7458 categories

Column Boat name has 1258 categories

Column Type has 36 categories

Column Condition has 10 categories

Column Length has 1628 categories

Column Width has 580 categories

Column Depth has 264 categories

Column Displacement has 1380 categories

Column CE Design Category has 4 categories

Column Hull Color has 377 categories

Column Material has 11 categories

Column Fresh Water Cap has 287 categories

Column Holding Tank has 104 categories

Column Propulsion has 8 categories

Column Engine has 4752 categories

Column Engine Performance has 843 categories

Column Fuel Capacity has 716 categories

Column Fuel Type has 6 categories

Column Engine Hours has 996 categories

Column Max Speed has 99 categories

Column Cruising Speed has 57 categories

Column Location has 3177 categories

Column Number of views last 7 days has 680 categories

Column Comments has 6631 categories

Column Additional Comments has 2410 categories

Column Equipment has 5301 categories

Column Advertisement Date has 730 categories